<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Diamond Plans</h1>
    <p>Marriage plans encapsulate the dreams and logistics of a couple embarking on a lifelong journey together. They involve thoughtful considerations about the ceremony, venue, guest list, and cultural or personal traditions. Couples often envision the ambiance, exchanging vows, and celebrating with loved ones. Practical aspects, such as budgeting and timelines, are crucial for a seamless event. Communication is paramount, ensuring both partners contribute to decisions harmoniously. Marriage plans extend beyond the ceremony, encompassing shared goals, values, and aspirations for the future. Crafting these plans involves a delicate balance of individual desires and collaborative vision, setting the foundation for a joyous and enduring union.</p>
    <div>
        <h1>Diamond Event</h1>
            <ul>
    
            <li>Premium Plan</li>
            <li>Wedding Plans</li>
            <li>Premium Food</li>
            <li>High End Lighting</li>
            <li>Pleasant Decoration</li>
            <li>Drone Visuals</li>
            <li>Rich Environment</li>
            <li>Sound System</li>
            <li>End to End Support</li>
            </ul>
        </div>
</body>
</html>