<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Gold Plan</h1>
    <p>Birthday parties are joyous celebrations marking the passage of time and the individual's existence. They vary widely, from intimate gatherings to extravagant affairs. Personalization is key, with themes, decorations, and activities reflecting the birthday person's interests. Delicious cakes and festive treats add sweetness to the occasion. Entertainment, such as games or music, creates a lively atmosphere. Gifts symbolize love and thoughtfulness. Birthday traditions, like singing "Happy Birthday" and blowing out candles, are cherished rituals. Whether it's a quiet family affair or a lively bash with friends, birthdays offer a precious opportunity for people to come together, share laughter, and create lasting memories.</p>
    <div>
        <h1>Gold Event</h1>
        <ul>
            <li>Basic Plan</li>
            <li>Birthday Parties</li>
            <li>Cake and Food</li>
            <li>Rich Lighting</li>
            <li>Videography</li>
            <li>Sound System</li>
            <li>End to End Support</li>
        </ul>
        </div>

</body>
</html>