<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Zevent</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="/static/images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <div class="menu_sitbar di_mr01">
            <div class="logo">
               <a href=>      <a href=><img src="/static/images/Zlogo.png" alt="#"/></a>
            </div>
            <nav class="navigation navbar navbar-expand-md navbar-dark ">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarsExample05">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item active">
                        <a class="nav-link" href="">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/about/">About</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/register/">Get Started</a>
                     </li>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
         <div class="header_full_banne">
            <div class="header">
               <div class="container-fluid">
                  <div class="row d_flex">
                     <div class=" col-md-2 col-sm-3 col logo_section di_mr0">
                        <div class="full">
                           <div class="center-desk">
                              <div class="logo">
                                 <a href="index.html"><img src="/static/images/logo.png" alt="#"/></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-8 col-sm-9 di_mr0">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse" id="navbarsExample04">
                              <ul class="navbar-nav mr-auto">
                                 <li class="nav-item active">
                                    <a class="nav-link" href="/index/">Home</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="/about/">About</a>
                                 </li> 
                              </ul>
                           </div>
                        </nav>
                     </div>
                     <div class=" col-md-8 d_none">
                        <ul class="conta_top">
                           <li><i class="fa fa-phone" aria-hidden="true"></i> Call   + 01 1234567890</li>
                           <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="Javascript:void(0)"> demo@gmail.com</a></li>
                        </ul>
                     </div>
                     <div class="col-md-4">
                        <ul class="email text_align_right">
                           <li class="d_none"><a href="Javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                           <li class="d_none"> <a href="Javascript:void(0)"><i class="fa fa-search" style="cursor: pointer;" aria-hidden="true"></i></a> </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end header inner -->
            <!-- end header -->
            <!-- top -->
            <div class="full_bg">
               <div class="slider_main">
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col-md-12">
                           <!-- carousel code -->
                           <div id="carouselExampleIndicators" class="carousel slide">
                              <ol class="carousel-indicators">
                                 <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                 <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                 <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                              </ol>
                              <div class="carousel-inner">
                                 <!-- first slide -->
                                 <div class="carousel-item active">
                                    <div class="carousel-caption relative">
                                       <div class="row d_flex">
                                          <div  class="col-md-7">
                                             <div class="board">
                                                <h3>
                                                   We Will Make 
                                                   Your Dream True
                                                </h3>
                                                <p>Join Us For More Details About The Plans</p>
                                                <div class="d-flex justify-content-around" >
                                                <a class="read_more" href="/login/">Sign in</a>
                                                <a class="read_more" href="/register/">Get started</a>
                                             </div>
                                             </div>
                                          </div>
                                          <div class="col-md-5">
                                             <div class="banner_img">
                                                <figure><img class="img_responsive" src="/static/images/soul2.png"></figure>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- second slide -->
                                
                                 <!-- third slide-->
                                 <div class="carousel-item">
                                    <div class="carousel-caption relative">
                                       <div class="row d_flex">
                                          <div  class="col-md-7">
                                             <div class="board">
                                                <h3>
                                                   Know More  
                                                   About Us
                                                </h3>
                                                <p>We Provide You End to End Support</p>
                                                <a class="read_more" href="/about/">About  </a>
                                             </div>
                                          </div>
                                          <div class="col-md-5">
                                             <div class="banner_img">
                                                <figure><img class="img_responsive" src="/static/images/zevnt.png"></figure>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- controls -->
                              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                              <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                              <span class="sr-only">Next</span>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end banner -->
      <!-- about -->
      <div class="about">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="titlepage text_align_left">
                     <h2>How We Plan The Events</h2>
                     <p>Event planning is a meticulous process involving coordination and organization to ensure successful gatherings. Beginning with a clear understanding of the client's objectives, planners meticulously create timelines, budgets, and checklists. Venue selection, catering, and entertainment are crucial elements that demand careful consideration. Effective communication with vendors, clients, and team members is paramount for seamless execution. Flexibility is key, as unexpected challenges can arise. The planner must address logistics, from invitations to on-site management, ensuring a smooth flow. Attention to detail, creativity, and problem-solving skills are essential for crafting memorable events that leave lasting impressions on attendees. Successful event planning hinges on a harmonious blend of creativity, precision, and adaptability.</p>
                     <a class="read_more" href="/about/">Read More</a>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="about_img text_align_center">
                     <figure><img class="img_responsive" src="/static/images/bd.png" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/bootstrap.bundle.min.js"></script>
      <script src="/static/js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="/static/js/custom.js"></script>
   </body>
</html>
